
<main role="main" class="container">
  <div class="row">
    <div class="col-md-8 blog-main">
      <h3 class="pb-3 mb-4 font-italic border-bottom">
        From the Firehose
      </h3>

      <div class="blog-post" *ngFor="let noticia of noticias">
        <h2 class="blog-post-title">{{ noticia.Descricao }}</h2>
        <p class="blog-post-meta">{{ noticia.DataCadastro }}. Autoria: {{ noticia.NomesAutores }}</p>

        {{ noticia.ConteudoHtml }}        
      </div><!-- /.blog-post -->

      <nav class="blog-pagination">
        <a class="btn btn-outline-primary" href="#">Older</a>
        <a class="btn btn-outline-secondary disabled" href="#">Newer</a>
      </nav>

    </div><!-- /.blog-main -->

    <app-blog-side></app-blog-side>
  </div><!-- /.row -->

</main>