
<div class="container">
  <div class="py-5 text-center">
    <h2>IPTU Imposto Predial Territorial Urbano</h2>
  </div>

  <div >
   <form class="needs-validation" novalidate>
     <div class="row">
       <div class="col-md-6 mb-6">
         <label for="firstName">Identificação do Imóvel: *</label>
         <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
         <div class="invalid-feedback">
            Identificação do Imóvel é obrigatório
         </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-6">
          <label for="lastName">CPF/CNPJ do Proprietário: *</label>
          <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
          <div class="invalid-feedback">
            CPF/CNPJ do Proprietário é obrigatório
          </div>
        </div>
      </div>

     <hr class="mb-4">
     <button class="btn btn-primary btn-lg btn-block" type="submit">Acessar</button>
   </form>
  </div>
</div>
