<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container"> 
      <img src="assets/images/logo.png" alt="logo mini" class="item-logo-nav">
      <a class="blog-header-logo text-dark" [routerLink]="['/']">  Prefeitura</a>
     
        <ul class="navbar-nav flex-grow">
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link text-dark" [routerLink]="['/']">Acesso restrito</a>
          </li>
        </ul>
    </div>
  </nav>
</header>
