  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"  >
    <div class="container"> 
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
        [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/']">Início</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Cidadão
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Concursos</a>
              <a class="dropdown-item" href="#">Minha Casa Minha Vida</a>
              <a class="dropdown-item" href="#">IPVA</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Ouvidoria</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Empresa
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Vagas de emprego</a>
              <a class="dropdown-item" href="#">Licitações</a>
              <a class="dropdown-item" href="#">IPTU</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Ouvidoria</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/']">Saúde</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
